.content-wrapper {
    width: 100%;
    padding: 2rem 2rem;
    margin: 0 auto;
}

.dialog-wrapper {
    padding: 1rem 2rem;
}

.character-wrapper {
    padding: 1rem 2rem;
}
.project-wrapper {
    padding: 1rem 2rem;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.in-view {
    opacity: 0;
    transform: translateY(50px); /* Start elements slightly lower */
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.text-container {
    width: 100%; /* Ensure consistent width */
    height: 60px; /* Set a fixed height for uniformity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; /* Prevent overflow of content */
    text-align: left;
}

/* Title styles */
/* Title styles with ellipsis */
/* Title styles with ellipsis */
/* Title styles with ellipsis fix */
.dialog-title {
    font-family: 'EB Garamond', 'Georgia', serif; /* Closest alternative */
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5rem;                /* Ensure full height */
    height: 1.5rem;                     /* Consistent height */
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;             /* Ensure proper alignment */
}






/* Subtitle styles */
.dialog-subtitle {
    font-size: 12px; /* Subtitle font size */
    color: #666; /* Subtle text color */
    max-height: 1.2rem; /* Limit subtitle height */
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Add ellipsis for long subtitles */
    margin: 0; /* Remove default margin */
}
.opacity-puzzle-game img {
    max-width: 300px; /* Adjust the value as needed */
    height: auto; /* Maintain aspect ratio */
}



@media (min-width: 768px) and (max-width: 1024px) {
    .content-wrapper,
    .character-wrapper,
    .project-wrapper,
    .dialog-wrapper {
        padding: var(--medium-padding);
    }
}

@media (min-width: 1024px) and (max-width: 1525px) {
    .content-wrapper,
    .character-wrapper,
    .project-wrapper,
    .dialog-wrapper {
        padding: var(--large-padding);
    }
}

@media (min-width: 1525px) and (max-width: 1700px) {
    .content-wrapper,
    .character-wrapper,
    .project-wrapper,
    .dialog-wrapper {
        padding: var(--extra-large-padding);
    }
}

@media (min-width: 1700px) and (max-width: 2180px) {
    .content-wrapper,
    .character-wrapper,
    .project-wrapper,
    .dialog-wrapper {
        padding: var(--2extra-large-padding);
    }
}

@media (min-width: 2180px)  {
    .content-wrapper,
    .character-wrapper,
    .project-wrapper,
    .dialog-wrapper {
        padding: var(--3extra-large-padding);
    }
}