.content-wrapper {
    width: 100%;
    padding: 2rem 5rem;
    margin: 0 auto;
}
.latest-projects-wrapper{
    padding: 0 5rem;
}
.dialog-wrapper{
    padding: 1rem 5rem;
}
.character-wrapper{
    padding: 2rem 24rem;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.in-view{
    opacity: 0;
    transform: translateY(50px); /* Start elements slightly lower */
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
@media (max-width: 768px) {
    .content-wrapper {
        padding: 1rem 2rem;
    }


}
@media (min-width: 768px) and (max-width: 1024px){
    .character-wrapper{
        padding: 2rem 12rem;
    }
}
@media (min-width: 1024px) and (max-width: 1525px){
    .character-wrapper{
        padding: 2rem 10rem;
    }
}